node_modules
npm-debug.log
.next
.git
.gitignore
.env.example
.env.local
.env.production.local
.env.test.local
.DS_Store
*.pem
README.md
.vercel
dist
build
src
tsconfig.json
eslint.config.mjs
postcss.config.mjs
next.config.ts
tailwind.config.ts
.github
